<!-- Link栏 -->
<div class="card mb-3">
  <div class="card-header">Links</div>
  <ul class="list-group list-group-flush">
    {% for link in links %}
    <li class="list-group-item list-group-item-action">
      <a href="{{ link.url }}" target="_blank">{{ link.name }}</a>
    </li>
    {% endfor %}
  </ul>
</div>

<!-- Categories栏 -->
<div class="card mb-3">
  <div class="card-header">Categories</div>
  <ul class="list-group list-group-flush">
    {% for category in categories %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <a href="{{ url_for('.show_category', category_id=category.id) }}">{{ category.name }}</a>
      <!-- 显示这个分类下有多少篇文章 -->
      <span class="badge rounded-pill bg-primary">{{ category.posts|length }}</span>
    </li>
    {% endfor %}
  </ul>
</div>
<!-- 主题切换下拉菜单 -->
<div class="dropdown">
  <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown">
    Change Theme
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Blue</a>
    <a class="dropdown-item" href="#">Black</a>
  </div>
</div>