<!-- Link栏 -->
<div class="card mb-3">
  <div class="card-header">Links</div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item list-group-item-action">
      <a href="#" target="_blank">Facebook</a>
    </li>
    <li class="list-group-item list-group-item-action">
      <a href="#" target="_blank">Google</a>
    </li>
    <li class="list-group-item list-group-item-action">
      <a href="#" target="_blank">Twitter</a>
    </li>
  </ul>
</div>
<!-- Categories栏 -->
<div class="card mb-3">
  <div class="card-header">Categories</div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <a href="">apple</a>
      <span class="badge rounded-pill bg-primary">123</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <a href="">banana</a>
      <span class="badge rounded-pill bg-primary">5</span>
    </li>
  </ul>
</div>
<!-- 主题切换下拉菜单 -->
<div class="dropdown">
  <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown">
    Change Theme
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Blue</a>
    <a class="dropdown-item" href="#">Black</a>
  </div>
</div>