{% extends 'base.html' %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}

<!-- 文章标题: 包括文章类别、撰写时间。如果是登录状态、还有编辑和修改按钮-->
<div class="page-header">
  <!-- 文章标题 -->
  <h1>{{ post.title }}
    <span class="float-end">
      <!-- 文章编辑按钮 -->
      <a class="btn btn-primary btn-sm" href="#">Edit</a>
      <!-- 文章删除按钮 -->
      <form class="inline" method="post" action="#">
        <input type="hidden" name="csrf_token" value="x">
        <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure?');">Delete
        </button>
      </form>
    </span>
  </h1>

  <!-- 文章类别和日期 -->
  <small>
    Category: <a href="{{ url_for('blog.show_category', category_id=post.category.id) }}">{{ post.category.name
      }}</a><br>
    Date: {{ post.timestamp }}
  </small>
</div>

<!-- 文章正文、评论区 -->
<div class="col-sm-8">
  <!-- 正文部分 -->
  <article>
    {{ post.body }}
  </article>
  <hr>
  <!-- 分享按钮 点击会弹出一个模态框modal -->
  <button type="button" class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#postLinkModal">Share
  </button>

  <!-- 分享模态框 -->
  <div class="modal fade" id="postLinkModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- 模态框头部 -->
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Permalink</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <!-- 模态框内容 -->
        <div class="modal-body">
          <div class="form-group">
            <input type="text" class="form-control"
              value="{{ url_for('blog.show_post', post_id=post.id, _external=True) }}" readonly="">
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 评论区 -->
  <div class="comments" id="comments">
    <h3>{{ post.comments|length }} Comments
      <small>
        <a href="{{ url_for('blog.show_post', post_id=post.id) }}#comments">
          latest</a>
      </small>
      <!-- 禁用评论按钮 -->
      <form class="float-end" method="post" action="#">
        <input type="hidden" name="csrf_token" value="xxx">
        <button type="submit" class="btn btn-warning btn-sm">
          Disable Comment
        </button>
      </form>
    </h3>
    <ul class="list-group">
      <!-- 评论 -->
      {% for comment in comments %}
      <li class="list-group-item list-group-item-action flex-column">
        <!-- 评论人 评论时间 -->
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><a href="{{ comment.site }}" target="_blank">{{ comment.author }}</a></h5>
          <small>{{ comment.timestamp }}</small>
        </div>
        <!-- 评论内容 -->
        <p class="mb-1">{{ comment.body }}</p>
        <!-- 通用的代码 按钮 Reply / Email / Delete -->
        <div class="float-end">
          <a class="btn btn-light btn-sm" href="/reply/comment/366">Reply</a>
          <a class="btn btn-light btn-sm" href="#">Email</a>

          <!-- 删除评论 -->
          <form class="inline" method="post" action="#">
            <input type="hidden" name="csrf_token" value="xxx">
            <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure?');">Delete
            </button>
          </form>
        </div>
      </li>
      {% endfor %}
    </ul>

  </div>

  <!-- 评论区分页器 -->
  <nav aria-label="Page navigation">
    <ul class="pagination ">
      <!-- 上一页 -->
      <li class="page-item {% if not pagination.has_prev %}disabled{% endif %}">
        <a class="page-link"
          href="{{ url_for(request.endpoint, page=pagination.prev_num, **request.view_args) }}#comments">«</a>
      </li>
      {% for page in pagination.iter_pages() %}
      {% if page %}
      <li class="page-item {% if page==pagination.page %}active{% endif %}">
        <a class="page-link" href="{{ url_for(request.endpoint, page=page, **request.view_args) }}#comments">{{
          page }}</a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#">...</a>
      </li>
      {% endif %}
      {% endfor %}

      <!-- 下一页 -->
      <li class="page-item {% if not pagination.has_next %}disabled{% endif %}">
        <a class="page-link"
          href="{{ url_for(request.endpoint, page=pagination.next_num, **request.view_args) }}#comments">»</a>
      </li>
    </ul>
  </nav>

  <!-- 评论回复提示框 -->
  <div class="alert alert-dark">
    Reply to <strong>Charles Norton</strong>:
    <a class="float-end" href="/post/34">Cancel</a>
  </div>

  <!-- 评论回复表单 -->
  <!-- <div id="comment-form">
          <form action="#" method="post" class="form" role="form">
            <input id="author" name="author" type="hidden" value="Mima Kirigoe">
            <input id="email" name="email" type="hidden" value="">
            <input id="site" name="site" type="hidden" value="/">
            <input id="csrf_token" name="csrf_token" type="hidden" value="xxx">
            <div class="mb-3 required"><label class="form-control-label" for="body">Comment</label>
              <textarea class="form-control" id="body" name="body" required=""></textarea>
            </div>
            <input class="btn btn-secondary" id="submit" name="submit" type="submit" value="Submit">
          </form>
        </div> -->

  <!-- 游客评论回复表单 -->
  <!-- <div id="comment-form">
          <form action="#" method="post" class="form" role="form">
            <input id="csrf_token" name="csrf_token" type="hidden" value="xxx">
            <div class="mb-3 required"><label class="form-control-label" for="author">Name</label>
              <input class="form-control" id="author" name="author" required="" type="text" value="">
            </div>
            <div class="mb-3 required"><label class="form-control-label" for="email">Email</label>
              <input class="form-control" id="email" name="email" required="" type="text" value="">
            </div>
            <div class="mb-3"><label class="form-control-label" for="site">Site</label>
              <input class="form-control" id="site" name="site" type="text" value="">
            </div>
            <div class="mb-3 required"><label class="form-control-label" for="body">Comment</label>
              <textarea class="form-control" id="body" name="body" required=""></textarea>
            </div>
            <input class="btn btn-secondary" id="submit" name="submit" type="submit" value="Submit">
          </form>
        </div> -->

  <!-- 若禁用评论，则显示下面的代码 -->
  <div class="tip">
    <h5>Comment disabled.</h5>
  </div>
</div>

<!-- 侧边栏 -->
<div class="col-sm-4 sidebar">
  {% include 'blog/_sidebar.html' %}
</div>
{% endblock content %}