footer {
    margin-top: 30px;
    padding: 10px 0 40px;
    color: #999;
    border-top: 1px solid #e5e5e5;
}

.page-header {
    padding-top: 20px;
    padding-bottom: 20px;
}

.page-footer {
    padding-top: 40px;
}