<!DOCTYPE html>

<head>
  {% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>index</title>
  <!-- bootstrap -->
  <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/style.css">
  {% endblock head %}
</head>

<body>
  <!-- 导航栏 -->

  <nav class="navbar navbar-expand-sm bg-primary navbar-dark mb-3">
    {% block nav %}
    <div class="container">
      <a class="navbar-brand" href="/">Blog</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <!-- 【导航栏左侧】Bluelog / Home / About -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
        </ul>

        <!-- 【导航栏右侧】New▽ / Manage▽ / Settings -->
        <ul></ul>
      </div>
    </div>
    {% endblock nav %}
  </nav>
  <!-- 核心内容 -->
  <main class="container">

    <div class="row">
      {% block content %}
      {% endblock content %}
    </div>

    <footer>
      {% block footer %}
      <p class="float-start">
        <small> &copy; 2018 <a href="#" title="Written by Grey Li">Grey Li</a> -
          <a href="#" title="Fork me on GitHub">GitHub</a> -
          <a href="#" title="A HelloFlask project">HelloFlask</a>
        </small>
      </p>
      <p class="float-end">
        <small>
          <!-- 如果未登录，隐藏下面这行 -->
          <a href="#">Logout</a>
          <!-- 如果已登录，隐藏下面这行 -->
          <!-- <a href="#">Login</a> -->
        </small>
      </p>
      {% endblock footer %}
    </footer>
  </main>
  <!-- 引入script -->
  {% block scripts %}
  <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>
  {% endblock scripts %}
</body>