<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>进度条</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css">
     
    <!-- 最新的 Bootstrap5 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>
    <style>
        body {
            max-width:400px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <button id="addProgress" class="btn btn-primary">增加进度</button>
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
    </div>
</body>
<script>
    var progress = 0;
    function updateProgress() {
        const pb = document.getElementsByClassName("progress-bar")[0];
        if (progress < 100)
        {
            progress = progress + 25
            pb.innerText = progress + "%";
            pb.style = `width: ${progress}%;`
            pb.setAttribute('aria-valuenow', `${progress}`) 
        }
    }

    document.getElementById("addProgress").onclick = updateProgress

    // // 为按钮绑定事件
    // (() => {
    //     const addProgressBtn = document.querySelector('#addProgress')
    //     addProgressBtn.addEventListener('click', (evt) => {
    //         addProgress()
    //     })
    // })()

</script>
</html>