{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block content %}
<h1 class="text-center">Log in</h1>

<!-- 放表单的div，用于通过修改class设置表单的样式 -->
<div class="row h-100 page-header justify-content-center align-items-center">
  <!-- 表单 -->
  <form action="" method="post" class="form col-lg-3 col-md-6" role="form">
    <input id="csrf_token" name="csrf_token" type="hidden" value="xx">

    <!-- username -->
    <div class="required">
      <label class="form-label" for="username">Username</label>
      <input class="form-control" id="username" name="username" required="" type="text" value="">
    </div>

    <!-- Password -->
    <div class="required">
      <label class="form-label" for="password">Password</label>
      <input class="form-control" id="password" name="password" required="" type="password" value="">
    </div>

    <!-- Remember me -->
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" id="remember" name="remember" type="checkbox" value="y">
        Remember me
      </label>
    </div>

    <!-- 提交按钮 -->
    <input class="btn btn-primary" id="submit" name="submit" type="submit" value="Log in">
  </form>
</div>
{% endblock %}